<div class="container" style="margin-top: 80px">
  <table class="data-table">
    <thead>
      <tr>
        <th>الرقم</th>
        <th>الاسم</th>
        <th>التولد</th>
        <th>المستوى</th>
        <th>الحلقة</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sd of students" [routerLink]="[sd.id]">
        <td>{{ sd.id }}</td>
        <td>{{ sd.name }}</td>
        <td>{{ sd.birth | date : "dd/MM/yyyy" }}</td>
        <td>{{ sd.level }}</td>
        <td>{{ groupById(sd.groupId)?.name }}</td>
      </tr>
    </tbody>
    <tfoot>
      <input class="form-control" type="text" placeholder="البحث..." />
      <button>
        <fa-icon [icon]="search" size="2x"></fa-icon>
      </button>
    </tfoot>
  </table>
</div>
