<div class="nav nav-fill tabs">
  <div class="nav-item active">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
  <div class="nav-item">
    <a class="nav-link">اسم الحلقة</a>
  </div>
</div>

<div class="container">
  <table class="data-table">
    <thead>
      <tr>
        <th>الرقم</th>
        <th>الاسم</th>
        <th>التسميع</th>
        <th>الحضور</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>0</td>
        <td>أحمد</td>
        <td>3</td>
        <td>
          <mat-checkbox [checked]="true"></mat-checkbox>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <input class="form-control" type="text" placeholder="البحث...">
      <button>
        <fa-icon [icon]="search" size="2x"></fa-icon>
      </button>
    </tfoot>
  </table>
</div>
